footer {
  background-color: #4d4d4d;
  color: #d37823;
}

.footer-container {
  padding: 40px 100px;
  display: flex;
  gap: 150px;
  justify-content: space-between;
  align-items: center;
}

.item {
  flex: 1 1 0px;
}

.logoSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.links ul {
  list-style: none;
  display: inline-flex;
  gap: 10px;
  font-size: 14px;
}

.links ul li a {
  color: #e99637;
  transition: all 0.3s;
}

.links ul li a:hover {
  color: #f7d5af;
}

.logoPart {
  width: 300px;
  display: flex;
  /* flex-direction: column; */
  gap: 15px;
  justify-content: center;
  align-items: center;
}

.titlePart {
  font-size: 24px;
  font-weight: 500;
  color: #e99637;
}

.titlePart:hover {
  color: #f7d5af;
}

.logoPart img {
  width: 100px;
  height: 100px;
}

.logoPart p {
  line-height: 1.6;
}

.contactPart,
.aboutPart {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.media {
  list-style: none;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mediaLogo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.facebook,
.instagram,
.twitter,
.call {
  transition: all 0.3s;
}

.facebook:hover {
  color: #4267b2;
}

.instagram:hover {
  color: #ca3271;
}

.twitter:hover {
  color: #1da1f2;
}

.call:hover {
  color: #0e8b29;
}

.facebook:hover,
.instagram:hover,
.twitter:hover,
.call:hover {
  cursor: pointer;
}

.facebook-logo,
.instagram-logo,
.twitter-logo,
.call-logo {
  font-size: 28px;
}

.aboutPart {
  font-size: 16px;
  line-height: 1.4;
  justify-content: center;
  align-items: center;
}

.aboutText {
  margin-top: 38px;
  text-align: center;
}
