body {
  font-family: "Roboto", sans-serif;
  background-color: #328f8a;
  background-image: url("/public/imgs/ph.png");
  background-size: cover;
  background-attachment: fixed;
  box-sizing: border-box;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-15%, -50%);
  height: 100px;
  padding-right: 300px;
  display: none;
  z-index: 9;
}

.singup_info {
  font-size: 18px;
  width: 30%;
  padding: 2% 0 0;
  margin: auto;
  position: relative;
}
form {
  margin-top: 30px;
  margin-bottom: 26px;
}
.form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 5px;
}
.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 80%;
  padding: 0 auto;
  border: 0;
  margin: 0 0 30px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 5px;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #ff7d13f3;
  width: 80%;
  border: 0;
  padding: 10px;
  color: #ffffff;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 3px;
  transition: all 0.3s;
}

.form button:hover {
  background-color: #e77212;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px;
}
.form .message a {
  color: #ff9317;
  text-decoration: none;
  font-weight: 600;
}

.form .message a:hover {
  color: #df7c0b;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.alert {
  width: 45%;
  padding: 15px;
  background-color: #f44336;
  color: white;
  margin-bottom: 15px;
  font-size: larger;
  margin-left: 300px;
  position: absolute;
  left: 5%;
  top: 45%;
  z-index: 9;
  display: none;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

h5 {
  color: #df7c0b;
  font-size: 20px;
  letter-spacing: 1.5px;
  line-height: 1.5;
}
