* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  scroll-behavior: smooth;
}

img {
  height: 20px;
}

/*////// NAVIGATION BAR /////////////*/

.navigation-container {
  background-color: #4d4d4d;
  color: #ff6f44;
  display: flex;
  flex-direction: column;
}

.navigation-bar {
  padding: 20px 80px 0;
  display: flex;
  gap: 12%;
  justify-content: center;
  align-items: center;
}

.logo-field {
  display: flex;
  align-items: center;
}

.logo-field img {
  height: 50px;
}

.logo-field span {
  font-size: 20px;
  font-weight: 600;
}

.search-field {
  display: flex;
  flex-grow: 2;
}

.search-field input {
  flex-grow: 2;
  border: #ff6f44 solid 1px;
  border-radius: 5px 0 0 5px;
  font-size: 16px;
  padding: 2px 8px;
}

.search-field button {
  color: #ff6f44;
  padding: 6px 12px;
  font-size: 18px;
  background-color: #fff;
  border: #ff6f44 solid 1px;
  border-radius: 0 5px 5px 0;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  transform: translateX(-2px);
  cursor: pointer;
  position: relative;
}

.search-icon {
  font-size: 28px;
  cursor: pointer;
}

.nav-left {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}

.nav-left .cart-icon {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.nav-left .profil-icon {
  display: flex;
  gap: 12px;
}

.nav-left .profil-icon ul {
  list-style: none;
}

.nav-icon {
  font-size: 32px;
  cursor: pointer;
}

.menu-bar {
  padding: 5px 80px;
  list-style: none;
  display: inline-flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.menu-bar a {
  color: #f79273;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.1s;
  padding-bottom: 3px;
}

.menu-bar a:hover {
  border-bottom: 2px solid #f7dbd2;
  color: #f7dbd2;
}

.categories {
  position: absolute;
  top: 60px;
  /* left: 50%; */
  background-color: #f79273;
  color: rgb(43, 39, 39);
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 300px;
  width: 150px;
  overflow-y: scroll;
}

.element {
  padding: 2px 6px;
  border-bottom: #111010c2 2px solid;
  transition: all 0.3s;
}

.element:hover {
  background-color: #ff6f44;
  cursor: pointer;
}

.hidden {
  display: none;
}

/*/////sticky navigation bar//////*/

.sticky {
  position: sticky;
  top: 0;
  z-index: 99;
}

/*/////////****THE HEADER////////*/

.headercl {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../imgs/ph.png");
  background-size: cover;
}
.headercl .logoheader {
  height: 150px;
  display: block;
  margin: auto;
}
.headercl .desc {
  margin-top: 10px;
  color: white;
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  text-shadow: 4px 4px #111010;
}

/*///////////   product style ////////*/

.products {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
}
.container_products {
  padding: 0 20px;
  scroll-behavior: smooth;
  overflow-x: auto;
  overflow-y: scroll;
  display: flex;
  gap: 10px;
}
.productr {
  margin-right: 35;
  width: 250px;
  flex: 0 0 auto;
  height: 450px;
}
.productr1 {
  margin-right: 35;
  width: 250px;
  flex: 0 0 auto;
  height: 450px;
}

.productsreco {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 45px;
}

/* .container_products::-webkit-scrollbar {
  display: none;
} */

.proimg {
  overflow: hidden;
  height: 350px;
  width: 100%;
  position: relative;
}
.trend {
  width: 170%;
  height: 350px;
  object-fit: cover;
}

.discouont {
  position: absolute;
  background-color: whitesmoke;
  padding: 6px;
  border-radius: 9px;
  color: red;

  right: 10px;
  top: 10px;
}

.probtn {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  text-transform: capitalize;
  outline: none;
  border-radius: 9px;
  transition: 0.5s;
  opacity: 0;
}
.productr:hover .probtn {
  opacity: 1;
}
.productr1:hover .probtn {
  opacity: 1;
}

.probtn :hover {
  opacity: 1;
}

.infopro {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}
.namepro {
  text-transform: capitalize;
}
.prodes {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  margin-left: 10px;
}

.newprice {
  font-weight: 900;
  font-size: 20px;
  color: red;
}
.oldprice {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
  color: black;
}
